.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
  }
  p {
    width: 60%;
    font-family: Rounded;
    font-size: 1.7rem;
    text-align: center;
  }

  .generation {
    max-width: 50%;
    border: solid white 4px;
    border-radius: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}