* {
  // background-color: rgba(171, 233, 215, 255);
  font-family: Rounded, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

#root {
  background-color: rgba(171, 233, 215, 255);
}

@font-face {
  font-family: 'Rounded';
  src: local('Rounded'), url(../fonts/Rounded.otf) format('opentype');
}