.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 2rem 0;

  h3 {
    margin: 0;
    font-family: Rounded, Arial, sans-serif;
    font-size: 2rem;
  }
  h4 {
    margin: 0;
    font-family: Rounded, Arial, sans-serif;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    margin: 8rem 0 2rem 0;
  
    h3 {
      margin: 0;
      font-family: Rounded, Arial, sans-serif;
      font-size: 1.5rem;
    }
  }
}