@font-face {
  font-family: 'Rounded';
  src: local('Rounded'), url(../fonts/Rounded.otf) format('opentype');
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-family: Rounded, Arial, sans-serif;
  font-size: 2.5rem;
  // margin: 0 40rem 0 0;
}

.photo-board {
  border-radius: 10%;
  border: 5px solid white;
  max-width: 60%;
}

.header-nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  width: 3.5rem;
  margin-left: 1rem;
}