.team-wrap { 
  margin: 0 auto;
  text-align: center;
  width: 60%;

  h2 {
    margin-top: 5rem;
    font-family: Rounded, sans-serif;
    font-size: 3rem;
  }
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .team-card {
    margin-top: .5srem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-family: Rounded, sans-serif;
      font-size: 2rem;
    }

    img {
      width: 90%;
      border: solid white 4px;
      border-radius: 20%;
    }
  }
}

@media only screen and (max-width: 600px) {

  .team-wrap { 
    margin: 0 auto;
    text-align: center;
    width: 90%;
  
    h2 {
      margin-top: 8rem;
      font-family: Rounded, sans-serif;
      font-size: 3rem;
    }
  }

  .team {
    display: flex;
    flex-direction: column;
  
    .team-card {
      margin-top: .5srem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h3 {
        font-family: Rounded, sans-serif;
        font-size: 2.5rem;
      }
  
      img {
        width: 100%;
        border: solid white 4px;
        border-radius: 20%;
      }
    }
  }

}