.web3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.mint-nft-button {
  background: orange;
}

@media only screen and (max-width: 600px) {
  .web3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-top: .5rem;
  }
  
  .connect-wallet-button {
    background: rgb(32, 129, 226);
  }
  
  .mint-nft-button {
    background: orange;
  }
}